<nav class="navbar navbar-expand-lg navbar-light nav">
    <a class="navbar-brand" routerLink="home" routerLinkActive="active">
        <img src="../../assets/images/bwj-logo.png" width="50" height="50" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-control="navbarAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav">
            <a class="nav-item nav-link waves-light" routerLink="recipes" routerLinkActive="active" mdbWavesEffect>Recipes</a>
            <a class="nav-item nav-link waves-light" routerLink="searcher" routerLinkActive="active" mdbWavesEffect>Search</a>
            <a class="nav-item nav-link waves-light" routerLink="forum" routerLinkActive="active" mdbWavesEffect>Forum</a>
            <a class="nav-item nav-link waves-light" routerLink="creator" routerLinkActive="active" mdbWavesEffect>Create recipes</a>
        </div>
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li><a class="navbar-brand" href="https://www.instagram.com/bakingwithjuli/"><i class="fab fa-instagram"></i></a></li>
        <li><a class="navbar-brand" href="https://twitter.com/julsge1"><i class="fab fa-twitter"></i></a></li>
        <li><a class="nav-item nav-link" href=""><i class="far fa-envelope"></i> Contact </a></li>
        <li class="nav-item dropdown" dropdown>
            <a class="nav-item nav-link dropdown-toggle" data-toggle="dropdown" href=""><i class="fas fa-user"></i> Profile
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li><a href="#" class="dropdown-item"><i class="fas fa-sign-in-alt"></i> Log in</a></li>
                <li><a href="" class="dropdown-item"><i class="fas fa-user-plus"></i> Sign up</a></li>
                <li><a href="" class="dropdown-item"><i class="fas fa-sign-out-alt"></i> Log out</a></li>
            </ul>
        </li>
    </ul>


</nav>
